@model IEnumerable<Microsoft.Office365.SharePoint.FileSystemItem>

@{
    ViewBag.Title = "Files in your OneDrive";
}

<h2>@ViewBag.Title</h2>
<ul>
    @foreach (var file in ViewBag.Files)
    {
        <li><a href="@file.Url">@file.Name</a></li>
    }
    
</ul>
